.container {
    background-color: #ced1d3;
    height: 500px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .square {
    margin: 5px;
    height: 50px;
    width: 50px;
    color: #fff;
    text-align: center;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: rgb(239, 235, 91);
  }
  
  .red {
    background-color: red;
    align-self: flex-start;
  }
  
  .blue {
    background-color: blue;
  }